In [24]:
import pandas as pd
import numpy as np

# for text processing
import nltk
nltk.download('punkt')
from nltk.tokenize import sent_tokenize, word_tokenize

from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [2]:
df_amazon = pd.read_csv('Amazon_Product.csv')

In [3]:
df_amazon.head()

                                       Review
0  Superb camera quality and super experience
1                Amazing product just love it
2             Smooth stylish beautiful classy
3               Superb mobile ?? most durable
4                                  Best phone

In [4]:
text = df_amazon.iloc[1,0]
print(text)

Amazing product just love it

**Emotion Mining**

In [5]:
# Read Afinn dataset for word and sentiment score
df_afinn = pd.read_csv('Afinn.csv', encoding='latin-1')

In [6]:
df_afinn.head()

        word  value
0    abandon     -2
1  abandoned     -2
2   abandons     -2
3   abducted     -2
4  abduction     -2

In [7]:
df_afinn = df_afinn.set_index('word')

In [8]:
# Dictionary considers dataframe index as key automatically
dict_afinn = df_afinn['value'].to_dict()

In [9]:
dict_afinn.get('faithful')

3

In [18]:
# define to get score for given text
def getSentimentScore(text):
  sent_score = 0
  tokens = word_tokenize(text)
  lemmatizer = WordNetLemmatizer()
  for word in tokens:
    word = word.lower()
    word = lemmatizer.lemmatize(word)
    sent_score += dict_afinn.get(word,0)
  
  return sent_score

In [27]:
df_amazon['Sentiment_Score'] = df_amazon['Review'].apply(getSentimentScore)

In [36]:
def getSentimentType(num):
  sent_type = ''
  if num >= 10: 
    sent_type = 'Very Happy'
  elif num >= 5 and num < 10:
    sent_type = 'Happy'
  elif num >= 2 and num < 5:
    sent_type = 'OK'
  elif num >= -2 and num < 2:
    sent_type = 'Neutral'
  elif num >= -5 and num < -2:
    sent_type = 'Bad'
  else:
    sent_type = 'Very Bad'
  
  return sent_type

In [37]:
df_amazon['Sentiment_Type'] = df_amazon['Sentiment_Score'].apply(getSentimentType)

In [38]:
df_amazon

,Review,Sentiment_Score,Sentiment_Type
0,Superb camera quality and super experience,8,Happy
1,Amazing product just love it,7,Happy
2,Smooth stylish beautiful classy,6,Happy
3,Superb mobile ?? most durable,5,Happy
4,Best phone,3,OK
5,The media could not be loaded. camera is not t...,3,OK
6,Writing this review after 1 month of purchase....,2,OK
7,The media could not be loaded.,0,Neutral
8,It's looks good in hand.,3,OK