Hypothesis Testing Assignments

Problem 1: Cutlets.csv

H0 = No significance difference between cutlets produced by Unit A and Unit B

H1 = Significance difference exists between cutlets produced by Unit A and Unit B

t = [x1bar - x2bar]/ [sqrt({stddev 1 squre/n1} + {stddev 2 squre/n2})]

In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_ind

In [ ]:
# Read given csv file
data = pd.read_csv("Cutlets.csv")

In [ ]:
# first 5 rows of file
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [ ]:
data.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [ ]:
t = (7.019091 - 6.964297)/np.sqrt((np.square(0.288408)/35 + np.square(0.343401)/35))
t

0.7228651675005472

p value for above t static value is 0.469803

In [ ]:
# Alternative menthod
t_statistic, p_value = ttest_ind(data['Unit A'], data['Unit B'], equal_var = False)
t_statistic

0.7228688704678063

In [ ]:
p_value

0.4723132481914539

p > 0.05; Hence null hypothesis cannot be rejected. 
So, no significant difference exists in diameters of cutlets supplied by unit A and unit B

** Problem 2 **

Four laboratories TAT difference finding test

H0 = No difference in four labs TAT results
H1 = Significant difference exists in four labs TAT results

In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [ ]:
data_annova = pd.read_csv("LabTAT.csv");

In [ ]:
data_annova.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [ ]:
data_annova.dtypes

Laboratory 1    float64
Laboratory 2    float64
Laboratory 3    float64
Laboratory 4    float64
dtype: object

In [ ]:
f_statistic, p_value = stats.f_oneway(data_annova.iloc[:,0],data_annova.iloc[:,1],data_annova.iloc[:,2],data_annova.iloc[:,3])

In [ ]:
p_value

2.1156708949992414e-57

p value is less than significance value 0.05. Hence we can reject null hypothesis and conclude that significant difference exists in TAT results of different laboratories.

** Assignment 3 **

Chisquare Independence Test

H0 = All proportions are equal OR Gender and Sales per region are independent.
H1 = Not All proportions are equal OR Gender and Sales per region are NOT independent.

In [ ]:
import pandas as pd
import numpy as np
import scipy.stats as stats
from scipy.stats import chisquare

In [ ]:
data_chi = pd.read_csv("BuyerRatio_ObsExp.csv")

In [ ]:
data_chi

   Observed   Expected
0        50    42.7653
1       142   146.8129
2       131   131.1176
3        70    72.3042
4       435   442.2346
5      1523  1518.1871
6      1356  1355.8824
7       750   747.6958

In [ ]:
data_chi.dtypes

Observed      int64
Expected    float64
dtype: object

In [ ]:
#Calculating t-statistic and p-value of the chi square test
t_statistic, p_value = chisquare(f_obs= data_chi['Observed'],f_exp=data_chi['Expected'])

In [ ]:
t_statistic

1.5959462685388863

In [ ]:
p_value

0.978800924044746

p value is greater than 0.05. Hence, we cannot reject null hypothesis.

Conclusion: All proportions are equal OR Gender and Sales per region are  independent.

******** Problem 4 **************

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [2]:
data_annova2 = pd.read_csv("/content/Costomer+OrderForm Workbook.csv")

In [3]:
data_annova2.head()

,Phillippines,Indonesia,Malta,India,Unnamed: 4,Catg_Philippines,Catg_Indonesia,Catg_Malta,Catg_India
0,Error Free,Error Free,Defective,Error Free,NaN,0,0,1,0
1,Error Free,Error Free,Error Free,Defective,NaN,0,0,0,1
2,Error Free,Defective,Defective,Error Free,NaN,0,1,1,0
3,Error Free,Error Free,Error Free,Error Free,NaN,0,0,0,0
4,Error Free,Error Free,Defective,Error Free,NaN,0,0,1,0

In [5]:
data_annova2.dtypes

Phillippines         object
Indonesia            object
Malta                object
India                object
Unnamed: 4          float64
Catg_Philippines      int64
Catg_Indonesia        int64
Catg_Malta            int64
Catg_India            int64
dtype: object

In [7]:
f_statistic, p_value = stats.f_oneway(data_annova2['Catg_Philippines'], data_annova2['Catg_Indonesia'], data_annova2['Catg_Malta'],data_annova2['Catg_India'])
f_statistic

1.286168556089167

In [8]:
p_value

0.2776780955705948

p value > 0.05. Hence null hypothesis cannot be rejected. 
Conclusion: There is no significant difference between the defect percentage between given four countries.